target/*.json
target/*.TAG
target/debug/.fingerprint
target/debug/build
target/debug/deps
target/debug/examples
target/debug/incremental
target/release/.fingerprint
target/release/build
target/release/deps
target/release/examples
target/release/incremental